/paper/paper.aux
/paper/paper.fdb_latexmk
/paper/paper.fls
/paper/paper.log
/paper/paper.out
/python/__pycache__
/.gradle
/build
/java/build
/java/bin
/c++/empiricalMvpComputation
/c++/insertionPerformance
/c++/estimationPerformance
/c++/mergePerformance
/c++/mergeAndEstimationPerformance
