/paper/paper.aux
/paper/paper.fdb_latexmk
/paper/paper.fls
/paper/paper.log
/paper/paper.out
/python/__pycache__
/paper/paper.synctex.gz
/paper/paper.bbl
/paper/paper.blg
/.gradle
/latexmk.log
/build
/java/build
/java/bin
/.idea
/java/.idea
/paper/paper.synctex(busy)
/c++/empiricalMvpComputation
